body {
    background-image: url(https://img.succesone.fr/2019/03/dayz-game-preview_BSR9NLHVF1KL_header.jpg);
    width: 100%;
    height: 100%;
}

.borderp {
    border: 1px solid #212529;
    margin-top: 10%;
    background-color: #212529;
}

.text {
    color: azure;
}


/** Premier paragraphe**/

.intro {
    margin-top: 10%;
}


/** Partie Page à propos**/

.rond {
    border-radius: 50%;
}

.margt {
    margin-top: 10%;
}
h3{
    color:  azure;
}
a{
    text-decoration: none;
    font-size: 150%;
    color: azure;
}
a:hover {
    color: #198754;
}
